---
replicaCount: 1
image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
containerPort: 8000
service:
  type: ClusterIP
  port: 8000
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
resources: {}
livenessProbe: {}
readinessProbe: {}
volumes: []
volumeMounts: []
env: []
command: []
nodeSelector: {}
tolerations: []
affinity: {}
