---
global:
  security:
    allowInsecureImages: true

commonLabels:
  app: {{ .Release.Name }}
image:
  registry: public.ecr.aws
  repository: bitnami/postgresql
  tag: "17.6.0"
architecture: standalone
primary:
  networkPolicy:
    enabled: false
auth:
  postgresPassword: supersecret
  username: keycloak
  password: supersecret
  database: keycloak
