---
type: postgresql
mode: standalone
version:
  postgresql: "17"
backups:
  enabled: false
cluster:
  additionalLabels:
    app: {{ .Release.Name }}
  instances: 1
  storage:
    size: 1Gi
  initdb:
    database: keycloak
    owner: keycloak
