# Ref: https://istio.io/latest/docs/concepts/security/#authentication
# Ref: https://istio.io/latest/docs/tasks/security/authentication/authn-policy/#end-user-authentication
{{- if .Values.jwtRules }}
---
apiVersion: security.istio.io/v1
kind: RequestAuthentication
metadata:
  name: jwt-rule
  labels:
    {{- include "istio-ingress.labels" . | nindent 4 }}
spec:
  targetRef:
    kind: Gateway
    group: gateway.networking.k8s.io
    name: main-gateway
  {{- with .Values.jwtRules }}
  jwtRules:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
