{{- if .Values.requireJwtHostname }}
---
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: {{ include "istio-ingress.gateway-name" . }}-require-jwt
  labels:
    {{- include "istio-ingress.labels" . | nindent 4 }}
spec:
  targetRef:
    kind: Gateway
    group: gateway.networking.k8s.io
    name: {{ include "istio-ingress.gateway-name" . }}
  action: DENY
  rules:
    - from:
        - source:
            notRequestPrincipals: ["*"]
      to:
        - operation:
            hosts:
            {{- range .Values.requireJwtHostname }}
              - {{ . | quote }}
              - {{ printf "%s:*" . | quote }}
            {{- end }}
{{- end }}
